{% extends 'includes/base.html' %}

{% load static %}
{% block content %}



<!--buttons-->




<!--  contact -->
<div class="contact" id="contact" style="margin-top: 8rem;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2 class="content-text" id="contentText"> Admin Vendor Update form</h2>
                </div>
            </div>
        </div>

        <div class="row">


            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

                    {% include 'includes/alerts.html' %}
                </div>
            </div>
            <div class="row">
                <!--sidebar-->
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <ul>
                        <li>View all Vendors</li>
                        <li>Add new Vendor</li>
                        <li>Approved vendors</li>
                        <li>Unapproved vendors</li>
                        <li>Logout</li>
                        <li>Search</li>
    
                    </ul>
                </div>


                <div class="col-md-8 col-lg-8">
                                           
                        <form action="{% url 'admin_update_vendor_password' thevendor.pk %}" id="form1" class="main_form" method="POST"
                            enctype="multipart/form-data">
            

                        {% csrf_token %}
                        <div class="row">
                            {{theuserupdate.non_field_errors}}
                            {{theuserupdate.as_p}}
                        </div>
                        
                        <button type="submit" class="send_btn">submiit</button>
                        </form>

                  
                    
                </div>



            </div>

          
                

              
               

                    <!-- {{ theuserupdate.as_p}} -->

                   

    </div>
    </div>



    {% endblock %}