{% extends 'includes/base.html' %}

{% load static %}
{% block content %}


<section class="banner_main">
    <div id="myCarousel" class="carousel slide banner" data-ride="carousel">

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="first-slide" src="{% static 'images/banner1.jpg' %}" alt="First slide">
                <div class="container">
                </div>
            </div>

        </div>

    </div>


    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

            {% include 'includes/alerts.html' %}
        </div>
    </div>


    <div class="booking_ocline">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="book_room">
                        <h1>Forgot password?</h1>
                        <form class="book_now" action="{% url 'forgot_password' %}" method="post"
                            enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12">
                                    <span>Enter your Email</span>
                                    <p><small>Password reset link would be sent to your email</small></p>
                                    <input class="online_book" placeholder="Your email" id="emailid" type="email"
                                        name="email">
                                </div>

                                <div class="row">
                                    <span id="emailtypedisplay">your email would appear here</span>



                                </div>

                                <div class="col-md-12">
                                    <button type="submit" class="book_btn">Send</button>

                                </div>

                                <div class="row">
                                    <div class="col-md-5">

                                        <span><small><a href="{% url 'LoginView' %}" class="text-info">Login
                                                    page
                                                </a></small></span>

                                    </div>

                                    <div class="col-md-5">

                                        <span><small><a href="{% url 'vendorreg' %}" class="text-info">Create
                                                    account
                                                </a></small></span>

                                    </div>


                                </div>



                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end banner -->


<script>

    const emailInput = document.getElementById('emailid');
    const emailLabel = document.getElementById('emailtypedisplay');


    emailInput.addEventListener('input', function () {

        emailLabel.textContent = emailInput.value;
    });
</script>


{% endblock %}